.EILTS{
    position: relative;
    width: 234px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    border-radius: 8px;
    /* background-color: #31b731; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    box-shadow: 0 0 8px #aaa;

}
.container{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;align-items: center;
    justify-content: center;
}
.EILTS:hover{
    box-shadow: 0 5px 10px #0001;

}
.img{
    /* padding-top: 9px; */
    margin: 0 auto;
    width: 90%;
    height: 270px;
    border-radius: 8px;
    overflow: hidden;
    font-size: 20px;
    background: linear-gradient(#aaa,#fff, #ddd )  ;
    border-radius: 5px;
}
.h3{
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
    background: linear-gradient(#aaa  ,#fff  , #ddd )  ;
    border-radius: 5px;
    width: 90%;
    height: 30px;

}
.aksiya{

    width: 100px;
    height: 20px;
    background: linear-gradient(#aaa  ,#fff  , #ddd )  ;
    border-radius: 5px;
}

.eski{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-bottom: 7px;
}
.uf{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.som{
    width: 80px;
    height: 20px;
    background: linear-gradient(#aaa  ,#fff  , #ddd )  ;
    border-radius: 5px;
}
.kami{
    width: 120px;
    height: 25px;
    background: linear-gradient(#aaa  ,#fff  , #ddd )  ;
    border-radius: 5px;
}
.when{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40%;
    padding-top: 7px;
}
.savat{
    width: 30px;
    height: 30px;
    background: linear-gradient(#aaa  ,#fff  , #ddd )  ;
    border-radius: 5px;
}
.bodey{
   
    gap: 10px;
    /* padding: 0 10px 7px ; */
    width: 100%;
    padding: 0 10px;
}