.acol {
  background-color: #6b3232;
}

.acard {
  width: 255px;
  height: 440px;


}

.acreate__product-input {
  background-color: #ffffff;
}

.afoyz {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.abox {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}







.apadding {
  padding-bottom: 10px;
}